body {
  background-color: black;
  box-sizing: border-box;
}

.input_text {
  color: white;
}

.whiteDetails{
  color: white;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
  justify-content: center;
}

.movie-card {
  width: 300px;
  border: 1px white solid;
}

.movie-form {
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

.movie-card-image{
  height: 300px;
}

.loading {
  align-items: center;
  display: flex;
  font-size: 35px;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.not-found {
  font-size: 35px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}

.card .card-content p {
  margin-bottom: 15px;
}

.cardDetails {
  width: 100%;
}

.card-action {
  width: 90%;
}

.noResult {
  color: white;
}
